html {
	height: 100%;
	overflow: hidden;
}

body {
	background: black bottom url("gfx/bg.png");
	height: 100%;
	padding: 0px;
	margin: 0px;
}

canvas {
	padding: 0px;
	margin: 0px;
}

#game {
	width: 95%;
	height: 95%;
	padding: 0px;
	margin: 2.5%;
}
